body {
    background: #defcf9;
}

a {
    color: #ff347f;
}

.container {
    text-align: center;
    margin: 90px auto;
    max-width: 600px;
    margin-bottom: 50px;
}

header {
    margin-bottom: 30px;
}

h1 {
    color: #ff347f;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 0;
}

h2 {
    color: #6643b5;
    font-size: 18px;
}

form {
    padding: 10px;
    background: #ffd5e5;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.5);
    margin-bottom: 30px;
}

.prompt {
    padding: 16px;
    border: 1px solid #cb22d7;
    width: 80%;
    font-size: 14px;
    border-radius: 50px;
    line-height: 12px;
    color: #ff347f;
}

.submit-button{
    margin-left: 10px;
    background: black;
    padding: 14px 24px;
    border: none;
    width: 150px;
    font-size: 14px;
    border-radius: 50px;
    color: #ff347f;
}

.submit-button:hover {
    background: purple;
    transition: all 150ms ease-in-out;
    cursor: pointer;
  }

.recipe {
    font-size: 14x;
    background: #ffd5e5;
    padding: 15px 5px;
    line-height: 1.5;
    border-left: 3px solid plum;
    box-shadow: 0px 4px 30px 0px  rgba(39, 33, 66, 0.03);
    text-align: center;
}

.hidden {
    display: none;
  }

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}